.body{
    background-color: rgb(189, 149, 159);
}

label{
    color: white;
    font-weight: bold;
}

#submit{
    background-color: #dd616d;
    border: 0cm;
}

li{
    font-weight: bold;
    font-size: 25px
}

#h2{
    color: white;
    font-weight: bold;
}

.form-group{
    width: 500px;
    display: flex;

}